@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.nav-shadow{
  box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.08);
}

a{
  text-decoration: none;
  color: black;
}

.stack-icon{
  height: 3rem
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
