@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: 'HelveticaNowDisplay-Black';
    src: url('src/assets/font/HelveticaNowDisplay-Black.ttf');
  }

@font-face{
  font-family: 'HelveticaNowDisplay-Bold';
  src: url('src/assets/font/HelveticaNowDisplay-Bold.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Light';
  src: url('src/assets/font/HelveticaNowDisplay-Light.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Thin';
  src: url('src/assets/font/HelveticaNowDisplay-Thin.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Regular';
  src: url('src/assets/font/HelveticaNowDisplay-Regular.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Medium';
  src: url('src/assets/font/HelveticaNowDisplay-Medium.ttf');
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.nav-shadow{
  box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.08);
}

a{
  text-decoration: none;
  color: black;
}


.hero-image{
  background-size: cover;
  background-image: url('./src/assets/me-2.jpg');
  border: 3px solid black;
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  overflow: hidden;
  animation: morph 5s linear infinite;
}

@keyframes morph{
  0%, 100% {
  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}

.icon-shadow{
  box-shadow: 2px -1px 22px -6px rgba(188,188,188,0.75);
  -webkit-box-shadow: 2px -1px 22px -6px rgba(188,188,188,0.75);
  -moz-box-shadow: 2px -1px 22px -6px rgba(188,188,188,0.75);
}



:root {
  line-height: 1.5
}
