@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    font-family: 'HelveticaNowDisplay-Black';
    src: url('src/assets/font/HelveticaNowDisplay-Black.ttf');
  }

@font-face{
  font-family: 'HelveticaNowDisplay-Bold';
  src: url('src/assets/font/HelveticaNowDisplay-Bold.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Light';
  src: url('src/assets/font/HelveticaNowDisplay-Light.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Thin';
  src: url('src/assets/font/HelveticaNowDisplay-Thin.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Regular';
  src: url('src/assets/font/HelveticaNowDisplay-Regular.ttf');
}

@font-face{
  font-family: 'HelveticaNowDisplay-Medium';
  src: url('src/assets/font/HelveticaNowDisplay-Medium.ttf');
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.nav-shadow{
  box-shadow: 1px -1px 6px 5px rgba(0,0,0,0.08);
}

a{
  text-decoration: none;
  color: black;
}

.hero-animated{
  transition: all 1s ease-in-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}


:root {
  line-height: 1.5
}
